{
    "apps" : {
        "org.opencord.vtn" : {
            "cordvtn" : {
                "publicGateways" : [
                    {
                        "gatewayIp" : "10.0.1.1",
                        "gatewayMac" : "00:50:56:95:51:88"
                    }
                ],
                "ssh" : {
                    "sshPort" : "22",
                    "sshUser" : "root",
                    "sshKeyFile" : "/opt/cord_profile/node_key"
                },
                "localManagementIp" : "10.2.1.1/24",
                "ovsdbPort" : "6640",
                "nodes" : [
                    {
                        "hostname" : "cord-openstack-1",
                        "hostManagementIp" : "10.10.10.18/24",
                        "dataPlaneIp" : "10.1.1.6/24",
                        "dataPlaneIntf" : "ens4",
                        "bridgeId" : "of:0000000000000001"
                    },
                    {
                        "hostname" : "cord-openstack-2",
                        "hostManagementIp" : "10.10.10.7/24",
                        "dataPlaneIp" : "10.1.1.9/24",
                        "dataPlaneIntf" : "ens4",
                        "bridgeId" : "of:0000000000000002"
                    }
                ]
            }
        }
    }
}

