tosca_definitions_version: tosca_simple_yaml_1_0
 
imports:
   - custom_types/xos.yaml
 
description: Configures VTN networking for OpenStack compute nodes
 
topology_template:
  node_templates:
 
# VTN ONOS app, fully defined in vtn-service.yaml
    service#ONOS_CORD:
      type: tosca.nodes.ONOSService
      properties:
        no-delete: true
        no-create: true
        no-update: true
 
# VTN networking for OpenStack Compute Nodes
 
# Compute node, fully defined in compute-nodes.yaml
    cord-demo-node1:
      type: tosca.nodes.Node
      properties:
        no-delete: true
        no-create: true
        no-update: true
 
    cord-demo-node1_bridgeId_tag:
      type: tosca.nodes.Tag
      properties:
        name: bridgeId
        value: of:0000000000000001
      requirements:
        - target:
            node: cord-demo-node1
            relationship: tosca.relationships.TagsObject
        - service:
            node: service#ONOS_CORD
            relationship: tosca.relationships.MemberOfService
 
# VTN dataPlaneIntf field for node compute-01
    cord-demo-node1_dataPlaneIntf_tag:
      type: tosca.nodes.Tag
      properties:
        name: dataPlaneIntf
        value: ens8
      requirements:
        - target:
            node: cord-demo-node1
            relationship: tosca.relationships.TagsObject
        - service:
            node: service#ONOS_CORD
            relationship: tosca.relationships.MemberOfService
 
# VTN dataPlaneIp field for node compute-01
    cord-demo-node1_dataPlaneIp_tag: 
      type: tosca.nodes.Tag
      properties:
        name: dataPlaneIp
        value: 10.19.0.7/24
      requirements:
        - target:
            node: cord-demo-node1
            relationship: tosca.relationships.TagsObject
        - service:
            node: service#ONOS_CORD
            relationship: tosca.relationships.MemberOfService
 
# Compute node, fully defined in compute-nodes.yaml
    cord-demo-node2:
      type: tosca.nodes.Node
      properties:
        no-delete: true
        no-create: true
        no-update: true
 
# VTN bridgeId field for node compute-02
    cord-demo-node2_bridgeId_tag:
      type: tosca.nodes.Tag
      properties:
        name: bridgeId
        value: of:0000000000000002
      requirements:
        - target:
            node: cord-demo-node2 
            relationship: tosca.relationships.TagsObject
        - service:
            node: service#ONOS_CORD
            relationship: tosca.relationships.MemberOfService
 
# VTN dataPlaneIntf field for node compute-02
    cord-demo-node2_dataPlaneIntf_tag: 
      type: tosca.nodes.Tag
      properties:
        name: dataPlaneIntf
        value: ens7
      requirements:
        - target:
            node: cord-demo-node2
            relationship: tosca.relationships.TagsObject
        - service:
            node: service#ONOS_CORD
            relationship: tosca.relationships.MemberOfService
 
# VTN dataPlaneIp field for node compute-02
    cord-demo-node2_dataPlaneIp_tag:
      type: tosca.nodes.Tag
      properties:
        name: dataPlaneIp
        value: 10.19.0.9/24
      requirements:
        - target:
            node: cord-demo-node2
            relationship: tosca.relationships.TagsObject
        - service:
            node: service#ONOS_CORD
            relationship: tosca.relationships.MemberOfService
